.box{
    align-content: center;
    color:black;
    display: flex;
    padding-left: 30px;
    margin-left: 30px;
    background-color:lightgoldenrodyellow;
    text-decoration:none;
}
.picture{
    height: 70px;
    width: 90px;
}
.t-1{
    margin-right: 20px;
    padding-left: 800px;
}
.t-2{
    margin-right: 20px;
}
.t-3{
    margin-right: 20px;
}
.t-4{
    margin-right:  20px;
}
.t-5{
    margin-right: 20px;
    color: green;
    border-radius: 1px solid;
}
.heading{
    padding-top: 150px;
    text-align: right;
    
}
.h4{
    font-size: 20px;
    color: red;

}
.h2{
    font-size: 50px;
}
.green{
    color: green;
}
.text{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 5px;
    text-align: justify;
    display: flex;
}
.h4{
    color: red;
}
.pic-desc{
    height: 500px;
    width: 700px;
}

.container{
    border: 1px solid #aaa;
    padding-left: 30px;
    margin-right: 100px;
    background-color:lightyellow;
}
.icon-image{
    height: 60px;
    width: 60px;
}
.text-desc{
    font-size: 14px;
    padding-right: 15px;
    text-align: justify;
}
.button{
   color: green;
}
