.container{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    background-color:lightcoral;} 
    
    body {
        background-color: rgba(214, 181, 109, 0.973);
    }
.box{
    margin-left: 40px; 
}
.right-div{
    padding: 40px;
}